[2019-04-26 13:29] reallinfo opened #1 "logo contribution"
Hi @AnandChowdhary I am a logo designer.

I contribute to open source projects that do not have logo.  I have designed a logo for staart. The logo idea also represents the function of the software. What do you think?

![staart](https://user-images.githubusercontent.com/36298335/56811018-70bad980-6840-11e9-9401-f8c449999981.jpg)

[2019-04-27 10:19] AnandChowdhary commented on #1
Hi @reallinfo, thanks for the contribution!

I love the icon, but I'd like to change the type to go with some of my other projects' logos (https://github.com/AnandChowdhary/hello-bar and https://github.com/AnandChowdhary/hovercard).

![Updated version of logo](https://user-images.githubusercontent.com/2841780/56848024-4846e400-6901-11e9-92f3-1872346c664d.png)

Would love to hear what you think!

[2019-04-27 11:54] reallinfo commented on #1
Yeah, the font is fine. how about making such a change? My opinion, The fact that the marked places are discrete provides the icon and typeface integrity. I still respect your opinion. Just suggestion. Btw, would you please tell me the name of the font? I can send you a pr for source files.

[2019-04-27 12:02] AnandChowdhary commented on #1
Sure, sounds great! It’s an edited version of Proxima Nova but I think you can use Proxima Nova Rounded Medium and it should be exactly what you want.

[2019-04-27 12:51] reallinfo commented on #1
Oh okay, by the way, what is proxima nova's license? Are you sure we can use it?

[2019-04-27 14:51] AnandChowdhary commented on #1
This is Proxima Nova Soft Medium. If you own a desktop use license, you can use it for logos:

![soft](https://user-images.githubusercontent.com/2841780/56851206-f4042a00-6929-11e9-96af-cc3543f9199b.png)

[2019-04-27 20:32] reallinfo commented on #1
Wow, looks great. honestly, I'm afraid to violate the licensing rules. Also, I think this font is paid font. but don't worry. I found a very similar font. Can we use this font if you don't mind?  [FREE FONT:quicksand bold](https://www.dafont.com/quicksand.font)

![start](https://user-images.githubusercontent.com/36298335/56854771-9d581980-6944-11e9-84fe-42e7a4ef64c0.jpg)

[2019-04-29 07:16] AnandChowdhary commented on #1
I have purchased a license. I think it's worth it to get Proxima Soft 😉

[2019-04-29 09:57] reallinfo commented on #1
Oh okay, If I had a license, I was going to handle all the arrangements. I added the ai file to the google drive. is there anything else you want from me? https://drive.google.com/open?id=1Yh6_Lh54WptJcQXZCxss_XQmnmfuUoaX

[2019-04-29 09:58] AnandChowdhary commented on #1
Nope, I'll just add the text, change the colors a bit (I don't like the Node.js dark green, but a similar shade) and add it to README.md with credit to you.

[2019-04-29 10:01] reallinfo commented on #1
Thanks! if you need help with other projects, don't hesitate to contact me. Have a nice day!

[2019-04-29 10:02] AnandChowdhary commented on #1
@all-contributors please add @reallinfo for design

[2019-04-29 10:03] AnandChowdhary opened #3 "Add myself to contributors list"

[2019-04-29 10:03] AnandChowdhary commented on #3
@all-contributors please add @AnandChowdhary for code, doc, design

[2019-04-29 10:04] #3 closed

[2019-04-29 10:04] AnandChowdhary commented on #1
@all-contributors please add @reallinfo for design

[2019-04-29 11:06] #1 closed

[2019-05-07 10:06] AnandChowdhary opened #16 "Return created objects"
As per the suggestion of @victorlap, methods which create a new organization/user/membership/etc., should return the newly created object.

This, combined with the right HTTP status code `201`, can be better than just returning `{ created: true }`.

[2019-05-07 10:14] AnandChowdhary opened #17 "Add Helmet"
https://www.npmjs.com/package/helmet

[2019-05-09 20:26] #17 closed

[2019-05-10 13:10] AnandChowdhary opened #18 "Add support for webhooks, including deploybot (upgrade)"
Check if user is admin and redeploy

[2019-05-12 20:42] AnandChowdhary opened #20 "Add support for notifications"

[2019-05-17 07:20] AnandChowdhary commented on #20
Both on-page notifications like the ones on GitHub and service worker powered web notifications

[2019-05-28 13:56] AnandChowdhary opened #49 "Explore schema validation middleware"
Like this: https://github.com/icapps/tree-house#validateschemaschema-options

[2019-05-30 16:24] #49 closed

[2019-06-07 05:21] #18 closed

[2019-06-12 07:55] AnandChowdhary opened #72 "Add support for search"
When using `getPaginatedData()`, add support for `?q=Hello&after=2489`

[2019-06-12 07:58] AnandChowdhary commented on #72
https://github.com/ClickSimply/Nano-SQL can be used for this

[2019-07-02 20:57] #72 closed

[2019-07-04 19:40] coooolers opened #111 "Error recreating an account with the same email address again"
Invite a team member whose email address is let's say, member2@example.com
Invitation is sent successfully.
Delete that team member from the list.
Invite the same team member again ie use member2@gmail.com. Error: An account with this email already exists

[2019-07-04 19:41] AnandChowdhary commented on #111
Thanks for reporting this error!

[2019-07-04 19:46] coooolers opened #112 "New member cannot log into the system"
Invite a team member member3@example.com
A verification link is sent successfully and he verifies the link.
He is taken to a Login page where he is asked to enter a password but he doesn't have any password so far.

Probable Solution: Create another page where he can set his "new" password.

[2019-07-04 20:03] AnandChowdhary commented on #112
Yep, this is the stupidest item in my todo list! Right now, you need to reset your password after being invited to a team, but I am going to change that so you get an email verification/account creation/join organization link in your email where you also set your password. 😄

[2019-07-04 20:21] coooolers commented on #112
Thanks for the response. I think an answer is to redirect him to a new screen/view named Set Password screen and display an alert message that your verification is successful.

btw great work from your side!

PS: I am seeing that there are few more issues related to team. For instance, a team member who is currently an Admin is working in his own browser window and at the same time, the Owner upda

[2019-07-04 20:27] AnandChowdhary commented on #112
That's a great suggestion, thanks @coooolers!

For the other point — Because the authorization helpers check the user's role, if the Owner updates another Admin to Basic before the Admin/Basic member makes any changes, they will see an error message saying that they don't have permission to edit any data. When they navigate to any other page, the same will happen.

Staart UI currently does not hav

[2019-07-05 05:15] coooolers commented on #112
Hello Anand @AnandChowdhary ]

Okay I almost got you. Kindly explain this when you said: "Only when there is another interaction with the app will the API tell us that the USER is unauthorized."

Here the USER is Owner or Admin/Basic?

I have a suggestion regarding this ... When both the users namely Admin and Owner are logged in at the same time and the Owner attempts to change the Admin's role t

[2019-07-05 06:04] coooolers opened #113 "Trim the whitespace characters"
For instance, Settings > Name  Just Enter the whitespace characters and it allows them.

I believe we need to trim almost every input field.

[2019-07-05 06:10] coooolers opened #114 "Feature: Restricting the list of allowable domains"
Email domain: Enter your company's domain, eg. oswaldlabs.com
We'll allow people with emails from this domain to join this organization automatically

Do not allow the public domains to be included in this list like gmail, hotmail, rediffmail, and many others.

[2019-07-05 06:13] coooolers commented on #113
I think we should not allow the HTML tags while entering any kind of input. It could probably  lead to XSS security attacks.

[2019-07-05 06:17] coooolers opened #115 "Feature: Check input against regular expression"
Regular expressions could be for Name (only alpha letters), Password (strong password with special characters, minimum length), Domain name (occurrence of dot) etc.

Better if we display the Password Strength meter.

[2019-07-05 06:59] coooolers commented on #114
A super-admin could be probably allowed to maintain the names of the restricted domains.

[2019-07-05 08:55] AnandChowdhary commented on #115
Do you mean this for the frontend? If yes, maybe it's a better idea to open this issue in the Staart UI repository, since this is primarily the backend and build tools.

[2019-07-05 08:57] AnandChowdhary commented on #115
We currently do validate using the internal `validator` helpers. The rule (I think) is name should be a string of at least 3 characters, and password/domain should be strings. I didn't want to be too strict with the password rules, but it's something I will look into. Thanks again for opening these issues!

[2019-07-05 08:58] AnandChowdhary commented on #114
Good plan! There are quite a few nice NPM packages for this, I'll make sure to add that validation. The feature of email restriction actually doesn't work, it's currently just a setting you can save, but I plan on shipping that this week too.

We already have a helper function for detecting educational emails using my package [Edumail](https://github.com/AnandChowdhary/edumail), and something simi

[2019-07-05 09:00] AnandChowdhary commented on #113
Hopefully this shouldn't be the case because Vue handles XSS for us (both `{{ variable }}` and `v-model` take care of preventing `<`s, but perhaps I can also escape them when storing in the database. I'm not sure whether this is the best way forward, though, because there may be use cases (like HTML email forms, etc.) where we want people to be able to input Markdown/HTML and store that.

[2019-07-05 11:58] coooolers commented on #115
@AnandChowdhary Thx. for the detailed replies.

Yes, the validations should be applied at both the ends i.e. UI and backend. So probably, you may create a common/validators folder and share the code.

[2019-07-05 12:02] coooolers commented on #112
@AnandChowdhary If you have time, pl. reply to this.

by the way, I guess that which role can do what kind of work (permissions) will be hard-coded. Or, is it the Admin who is going to decide which role/person will do which work?

[2019-07-05 12:53] AnandChowdhary commented on #115
@all-contributors can you please add @coooolers for bugs and ideas? Thanks!

[2019-07-05 13:56] AnandChowdhary commented on #115
@all-contributors can you please add @coooolers for bugs and ideas?

[2019-07-05 13:59] AnandChowdhary commented on #115
@all-contributors can you please add @coooolers for bugs and ideas?

[2019-07-06 09:52] AnandChowdhary commented on #114
I've added a Staart-wide check for disposable emails while signing up or inviting a member. You can use the environment variable `ALLOW_DISPOSABLE_EMAILS` to control the setting. By default, disposable emails are not allowed.

For teams and company domain emails, I will make sure also not allow public email providers like Gmail, that's in the works! 😄

[2019-07-06 10:12] #115 closed

[2019-07-06 10:12] AnandChowdhary commented on #115
I've added better validation for names (alphabet and space), passwords (minimum length), and domains (regex).

[2019-07-06 10:19] AnandChowdhary commented on #112
Hi @coooolers, for now, the roles will be hardcoded in Staart logic for consistency between organizations:

* Owner: Can delete a team
* Admin: Can edit team settings but not delete team, can CRUD members
* Manager: Cannot view/edit team settings, only CRUD members
* Member: Cannot view/edit team settings or other members
* Basic: Cannot do anything related to team/members, only view app (can be u

[2019-07-06 14:23] coooolers commented on #114
Great!

I'd like to request to create a super-admin role that controls the list of restrictive domains like gmail, etc.

[2019-07-06 15:40] coooolers commented on #112
Hi Anand @AnandChowdhary

I agree with you that these roles should be hardcoded. But what I am seeing is that they are more (in number) than they should be .. making things little more complex. So what I suggest is that you should reduce the number of roles, probably only 3: Owner, Admin, and Basic. Rest is up to you :)

I am thinking of one more feature here. Consider that a user creates a docume

[2019-07-11 07:30] AnandChowdhary opened #134 "Remove CORS * in favor of allowed domains"
Instead of sending in a CORS *, allow API keys to have a list of allowed referrers, and only allow those in Access-Control-Allow-Origin

[2019-07-20 07:30] #134 closed

[2019-07-20 12:45] kiwicopple commented on #134
How do you guys run this locally with Staart UI now that you have removed this? I am testing this out with docker-compos. I have `staart` on port `7007` and the `ui` on `3000` so I am getting CORs errors when the `ui` tries to call the API

[2019-07-20 15:57] AnandChowdhary commented on #134
Hi @kiwicopple, good question! In production, you should use an API key when using Staart UI. But, it doesn't make sense for development, so I've added CORS `*` back in 3a63a30.

You can now use the environment variable `DISALLOW_OPEN_CORS` to not add the CORS header without an API key, which should be the convention for production.

[2019-07-21 03:13] kiwicopple commented on #134
That's great @AnandChowdhary thanks for the fast response. I really like the concept of staart. I'm having a bit of trouble getting the UI working with it out of the box but perhaps I'll open an issue over on the other repo if I can't solve it.

[2019-07-22 06:20] #112 closed

[2019-07-22 09:14] #114 closed

[2019-07-22 09:16] AnandChowdhary commented on #114
Staart now has support for whitelisted domains:

![Screen Shot 2019-07-22 at 14 36 11](https://user-images.githubusercontent.com/2841780/61620803-34f0ae00-ac8f-11e9-9ee9-26cd2aa8919a.png)

You can add any number of domains to your team, and verify them by uploading a file or adding a DNS `TXT` record:

![Screen Shot 2019-07-22 at 14 45 23](https://user-images.githubusercontent.com/2841780/61620887

[2019-07-22 09:27] AnandChowdhary commented on #113
Turns out we're already trimming strings: https://github.com/o15y/staart/blob/master/src/helpers/mysql.ts#L103

Some forms in Staart UI don't update state after saving, so that's probably why the space character remains in an input, though it's not stored in the database. I'll update UI to fix that.

[2019-07-22 09:27] #113 closed

[2019-07-22 09:32] AnandChowdhary commented on #20
I don't think this is a great idea anymore without an ElasticSearch database; I don't want to store thousands of notifications in SQL

[2019-07-22 09:32] #20 closed

[2019-07-22 09:38] #111 closed

[2019-07-24 18:24] coooolers opened #168 "Feature: Trial Period and Days Left"
Hi

Looks like the work is in progress. Good job!

I believe an important feature is missing, There should be a flag in config file, namely, Trial Period. Let us say, we set it to 15 days. So the app should be accessible for free for that period.

Also, the system should notify (by email and instant notification both) that your subscription is about to expire in DAYS_LEFT time.

Thanks

[2019-07-29 09:52] solarpanda opened #180 "Update docs to include getting started guide"
Would be great if you could add a getting started guide for developing on staart ui with the staart backend wired up, maybe docker?

[2019-07-29 11:00] AnandChowdhary commented on #180
Good suggestion! This is definitely a very important todo. I'm adding the last few features (for example, I shipped session invalidation last week) and as soon as I'm confident we're mostly done, I'll spend time on comprehensive documentation, perhaps add Swagger too.

[2019-07-30 05:06] AnandChowdhary commented on #168
Hi @coooolers, thanks for opening this issue!

Trial period and days left are already supported, but you have to configure them through Stripe. Log in to your Stripe account, create a product, and add pricing plans. You can then configure a trial period, rate, etc. Since Staart relies upon Stripe for billing and subscriptions, it would be unnecessary to add this as a feature within Staart.

As you

[2019-07-30 05:06] #168 closed

[2019-08-05 18:18] coooolers commented on #168
Okay thanks for the information.

[2019-08-15 06:55] Arevico opened #232 "Include an .env.example"
Altough it is easy to understand from the config.ts file which options are available, i always really like an example configuration file for clarity

[2019-08-15 09:12] AnandChowdhary commented on #232
Great idea! I’ll add an example file.

[2019-08-15 12:34] #232 closed

[2019-08-30 09:18] ektek opened #277 "MySQL: ER_NOT_SUPPORTED_AUTH_MODE"
Leaving this for any user who comes across this (using MySQL 8.0=<). Be aware that the backend might throw the following error:

[code]

You'll have to switch over to `mysql_native_password`

[code]

[2019-09-01 16:05] AnandChowdhary opened #284 "Cron to delete logs"
Under the GDPR, it's a good idea to delete logs periodically, especially when they have information like IP address and user agent.

We use the same logs as both server logs for admins and API key logs for end users, and they can be limited to the past 3 months. A cron job to delete all logs before 3 months can run every day or every week etc.

[2019-09-03 12:57] #284 closed

[2019-09-14 01:05] mattp95 opened #331 "Issues with Security Features"
Hi there,
Thank you for all your work so far on this project.

I have come across a few issues with some security features that are included not functioning.
For example;

IP address restrictions  - These are not actually restricting access to specified IP ranges (For example on the team view).
Invalidate session - Does not seem to 'log you out of this session in the next few minutes'.

The view f

[2019-09-14 01:17] mattp95 opened #332 "Implementing/Using a Reseller Model"
Hi there,

I am working on extending some business logic so that resellers can be supported. In this case a Reseller can create a org, invite the end customer to be the org owner and then the reseller picks up the bill with billing disabled for the end user.

I noticed references to the naming of a role as reseller. I am curious if others are already doing something similar are if there are plans

[2019-09-14 13:09] AnandChowdhary commented on #332
Hi @mattp95, thanks for opening this issue!

You're right, the reseller part is still in todo stage. I definitely have plans to complete this within September 2019.

Right now, reseller is only a membership type, but it will be equivalent to owner and will be able to add/remove users, change settings, etc. Furthermore, the reseller will also be able to get a commission for their clients (say 10% o

[2019-09-14 13:13] AnandChowdhary commented on #331
Hi @mattp95, thanks for opening this issue!

I haven't tested IP whitelisting in the live version right now, but the logic is available [here in `jwt.ts`](https://github.com/o15y/staart/blob/master/src/helpers/jwt.ts#L278) and it's used in the middleware [here](https://github.com/o15y/staart/blob/master/src/helpers/middleware.ts#L129). It seems like this is only in the API key right now, not users

[2019-09-14 13:14] AnandChowdhary commented on #332
In any case, @all-contributors, can you please add @mattp95 in bugs?

[2019-09-16 14:19] mattpi-NSL commented on #331
Thank you for this. In this case is removing the IP restriction view in users from staart-ui a reasonable plan? If a user should always be able to login to thier own account it might remove some confusion.

[2019-09-16 14:26] mattpi-NSL commented on #332
Thank you for this. I will hold back on working on this part for a bit then. Maybe I can add a PR for my model too so there is maximum choice on the business model of dealing with resellers.

[2019-09-16 14:58] MP70 opened #337 "Use Casbin to manage user permissions"
Hi @AnandChowdhary ,

At the moment the permissions hierarchy isn't well enforced as for example: when creating a new user on a organisation a manager can create an owner - so at any point anyone with permissions to CRUD team members can escalate themselves to owner by inviting one of their other email addresses. Would it be a reasonable idea to add some logic which says that users can only invite

[2019-09-24 04:14] wrannet opened #362 "Message"
Hi o15y, I'm sure you want to keep this repo public, but if you have any interest in a paid version down the road I'd love to have it on [SugarKubes](https://sugarkubes)!

[2019-09-26 23:20] yagobski opened #372 "I have this error Typejoi_1.default.validate"
I have this error after fresh install

Backup error Typejoi_1.default.validate is not a function

[2019-09-27 05:10] AnandChowdhary commented on #372
Thanks for opening this issue! I found this a few days ago and was hoping to fix it over the weekend. The dependency update of Joi has a changed API.

In the meantime, you can downgrade Joi and @types/Joi to the last major version and everything should work. :)

[2019-09-27 19:49] #372 closed

[2019-09-27 19:50] AnandChowdhary commented on #372
I've reverted Joi to the most recent stable version with `@types` support.

[2019-09-27 22:25] yagobski opened #374 "{"error":"From is required"} after fresh install"
I just install Staart and i get this error when i register the first user.

{"error":"From is required"}

I think is linked to problem with email. It is normal that the row primaryEmail have int(12) in staart-users ?

[2019-09-27 22:27] AnandChowdhary commented on #374
This seems like the error is because the "From" email is not specified, when sending an email confirmation. Do you have the right environment variables in place? Please see https://github.com/o15y/staart/blob/master/.env.example and make an `.env` file.

As you'll see in https://github.com/o15y/staart/blob/master/src/config.ts#L60, not having an `SES_EMAIL` will throw this error.

[2019-09-27 22:28] yagobski commented on #374
Yes i am using the right .env.
I think is linked to problem with email. It is normal that the row primaryEmail have int(12) in staart-users ?

[2019-09-27 22:46] AnandChowdhary commented on #374
Alright, let's have a look. Can you send me a more detailed error, maybe from the console?

Yes, the `primaryEmail` field stores the ID of the email record in the `email` table, not the actual email address string.

[2019-09-27 22:47] yagobski commented on #374
There is no error only [object Object] in the console

[2019-09-27 22:59] AnandChowdhary commented on #374
Alright, here's what I'll do. I have [a talk tomorrow](https://cloud.womenwhocode.dev) but after that, I'll record a screencast of cloning Staart and setting it up and upload it over the weekend.

[2019-09-27 23:00] yagobski commented on #374
Ok thank you very much for your help. It will be good for other people.
The project is very good. I really like the idea

[2019-09-28 13:42] araduti commented on #374
That would be great! @AnandChowdhary ! I managed to setup both staart and staart-ui. Register account works, reset password works. Login goes in a loop and I get "invalid-token' if I debug. :/ - I'm sure it;s something simple I missed...

[2019-09-28 14:01] AnandChowdhary commented on #374
Yes, this is because the Axios token is invalid. Just remove the X-Api-Key from your axios.config.ts in Staart UI to fix.

[2019-09-28 23:54] yagobski commented on #374
For me still i get this error: [object Object]
I install it in another server. No way to make it work.

[2019-09-29 04:58] araduti commented on #374
Thanks @AnandChowdhary, knew it was something easy. All good now. @yagobski  - I had that too, it was because of AWS SES, I had it in sandbox (default when you create account) and I was trying to register an unapproved domain e-mail.

[2019-09-30 00:04] AnandChowdhary commented on #374
Thanks, @araduti! @yagobski, can you check if applying for production (from SES sandbox) or using a sandbox-approved email solves your problem?

[2019-09-30 00:46] yagobski commented on #374
@AnandChowdhary  I already use the information in my .env. I create accounts for that but not solve my problem. I will try to debug it and let you know.

[2019-09-30 18:41] AnandChowdhary commented on #374
I've added a small test for both email and Redis configuration. Now, when you run Staart, it'll test your configurations. If your AWS SES configuration is invalid (like @araduti suggested), then you'll see the following in your console:

![Screenshot of error message](https://user-images.githubusercontent.com/2841780/65906317-2f8e9e80-e377-11e9-84c5-02768dc0e439.png)

If you don't see this message

[2019-10-01 07:39] araduti commented on #374
Awesome @AnandChowdhary ! I'm sure it will save other headaches.  Maybe you can add the  X-Api-Key test as well, or add it to the documentation ?

[2019-10-18 17:49] AnandChowdhary commented on #180
We have a fairly decent getting started guide now, along with some other articles: https://staart.js.org/backend.

Also interesting to note is [Staart Site](https://github.com/staart/site), the starter for static sites our docs website uses.

[2019-10-18 17:49] #180 closed

[2019-10-19 23:51] AnandChowdhary commented on #374
This was added on the https://staart.js.org/ui website. I think I should close this issue for now, since nobody else is able to reproduce it. I'll reopen it if we're sure it's not an AWS SES issue. You can test that by, instead of sending real emails, `console.log`ging them.

[2019-10-19 23:51] #374 closed

[2019-10-19 23:53] AnandChowdhary commented on #277
Hi @ektek, can you perhaps add this to https://staart.js.org/backend, maybe creating a "Database configuration" file? This way I can close the issue and we'll have it on the docs website.

https://github.com/staart/staart.js.org

[2020-01-02 09:42] smart-reports opened #711 "Install on Ubuntu is failing at "npm run build""
hello

I've tried to install.  First the use my template buttom gave an error about files being more than 10mb so I downloaded to my desktop and went through the manual process to get it setup;

I get this error though and npm run build stage.  Any ideas?

root@staartsaas:/srv/staartapp# sudo npm run build

✖  error     Error in setup [Error: ENOENT: no such file or directory, scandir '/srv/staart

[2020-01-02 09:47] AnandChowdhary commented on #711
Seems like the directory `./src/controllers` doesn't exist. Can you make sure all the controllers are there, like in this directory [src/controllers](https://github.com/staart/api/tree/master/src/controllers)? Maybe there was an error in cloning the repository and some files were missed?

[2020-01-02 09:48] smart-reports commented on #711
In /src/controllers there is a folder called v1 - no files?

[2020-01-02 09:50] AnandChowdhary commented on #711
That's right, and the `v1` folder should contain all your controllers. This would translate your API endpoints to be, for example, https://example.com/v1/user.

Since the error says `no such file or directory, scandir '/srv/staartapp/src/controllers'`, can you see if the following command shows you the list of files?

[code]

[2020-01-02 09:56] smart-reports commented on #711
hmmm - I should have checked.  I'm sorry, my files didn't seem to sync fully on my server :redface:

[2020-01-02 09:57] AnandChowdhary commented on #711
Best of luck! Let me know if you have any trouble and I'll be happy to help. 😄

[2020-01-02 16:00] smart-reports commented on #711
Hi there

Finally got all the files now.

Have you experienced this before?  Its stuck on building....specifically Compiling TypeScript.....

does the app need a certain amount of RAM?  I stuck it on a cheap digital ocean server just to test it.

✔  success   Generated paths
✔  success   Processed no redirect rules
✔  success   Setup 3 cron jobs
✔  success   Serving 2 static files
✔  success   Gen

[2020-01-03 05:07] AnandChowdhary commented on #711
No, I haven't seen this before. It seems like the `tsc` process is not finishing for you. I'll purchase a Digital Ocean $5 droplet and see if I can reproduce your error.

[2020-01-03 05:09] smart-reports commented on #711
I upgraded the server and still same outcome.  Now its got:

2 GB Memory / 60 GB Disk / LON1 - Ubuntu 19.10 x64

[2020-01-03 05:17] smart-reports commented on #711
Ok so I did this:

sudo chmod 777 /srv/staartapp
rm -rf node_modules && npm install

It seems to have gone further this time which is an issue with the email....never used Amazon SES before so maybe got something wrong in my setup.

Thanks for your help Anand.

[2020-01-06 11:21] #711 closed

[2020-02-24 16:44] simoami opened #950 "Ability to merge accounts"
Hi @AnandChowdhary
Thanks for your great implementation! One area I was wondering about is the ability to merge 2 user accounts belonging to the same user. There are 2 scenarios in which a merge can apply.

### 1. Before joining an invite
You already have this covered through the email record resolution.
### 2. After joining an invite
Two or more user records would have been created by then. so it

[2020-02-24 17:01] AnandChowdhary commented on #950
Thanks for opening this issue, @simoami. I'd love to explore what this might look like, but I'm having trouble understanding how there will be two accounts in the first place.

Currently, and this is from my memory but could be wrong, you can invite a member to your team regardless of whether they already have an account or not. If they don't, we'll create a new account and send them an email. If

[2020-02-24 17:33] simoami commented on #950
Sure I'll try to explain.
Imagine the saas app also evolves to also allow users to manage projects. and a user is allowed to see the projects they own via table `projects.userId`

now to the invite scenarios:
### 1. Scenario One (the happy path)
I sign up as `User A` with `Email A` and create `Organization A`. I add `Email B` anticipating `Organization B` will invite me. When `Organization B` invi

[2020-02-24 17:51] AnandChowdhary commented on #950
Aah, I understand now! I'm very used to quickly adding all my emails whenever I create an account so this type of thing never happens, so I didn't think about it at all! I think this is a very important feature to ship in Staart because I can easily imagine people adding a personal email and then getting invited to their work account.

Here are some options off the top of my head:

1. We don't cre

[2020-02-24 17:54] AnandChowdhary commented on #950
By the way, @simoami, this is such a well-thought of and informative flowchart to showcase how Staart API does membership invitations. Do you mind if I end up using this somewhere in the docs? I'm happy to add you as a contributor for your hard work!

@all-contributors please add @simoami for ideas, docs

[2020-02-24 17:55] AnandChowdhary commented on #3
@all-contributors please add @simoami for ideas, docs

[2020-02-24 17:58] AnandChowdhary commented on #3
@all-contributors please add @simoami for idea, docs

[2020-02-24 17:59] simoami commented on #950
Great options!
I think that option 2 is the least involved in that it keeps the current logic intact. I also favor option B in this case because there will always be other edge cases where the user neglects to log in to maintain the same user account but later want to merge the 2 accounts.

Re: Thanks regarding the chart.  Attaching the draw.io source file:

[staart - flows.drawio.zip](https://git

[2020-02-24 18:00] AnandChowdhary commented on #950
Great, I'll implement this and push a Staart API update within the next couple of days!

[2020-02-24 18:07] simoami commented on #950
btw, some food for thoughts.
upon login, add can check cookies to see if the user ever signed in using a different account. in this case we could prompt the user with "Hey, looks like you have signed in to a different account in the past using 'xxx@xxx.com`. would you like to merge the  2 accounts?`
Selecting Yes lead to the merge view where you are presented with 2 options:
1. Merge another accou

[2020-02-24 18:11] simoami commented on #950
Also, if users of staart end up extending the api to include other entities with the userId reference, it would be good to have a hook where they can also complement the migration by updating the userId references. maybe an optional handler with oldUserId, newUserId and they can supply with their own loagic.

[2020-02-24 18:30] AnandChowdhary commented on #950
Yes, this makes sense, and I want an easy way to see older versions of an account linked together, but `oldUserId` doesn't work because there may be any number of older user IDs, for example if you're invited to multiple organizes and therefore connect all of those accounts together.

I'll keep this issue posted with the progress.

[2020-02-24 19:11] simoami commented on #950
Thank you.
I would also prompt the user for the password to the other account to
ensure they own it. I leave it up to you to decide what to do if the other
account has 2FA enabled.

On Mon, Feb 24, 2020, 1:30 PM Anand Chowdhary <notifications@github.com>
wrote:

[2020-02-24 20:33] simoami commented on #950
Some more thoughts:
1. The reconciliation process can also be triggered when a new email alia is added and the email address belongs to  an existing user. With the correct http response (http 409 conflict), the UI client can suggest to migrate the other account the email address belongs to.
2. As part of the reconciliation, all email aliases from user B are moved to user A in their current state (

[2020-02-26 08:00] AnandChowdhary opened #963 "Queue outbound emails"
Use rsmq to queue ongoing Nodemailer messages if Redis is available, otherwise directly send!

[2020-02-26 08:01] AnandChowdhary opened #964 "Use caching library instead of Redis"
Use a Node.js caching library (like node-cache or node-cache-manager) for JWT invalidation, etc., instead of Redis directly, with Redis as the primary kv-store with in-memory as fallback

[2020-02-27 10:47] AnandChowdhary opened #966 "Add OpenAPI/Swagger support"
Parse controllers for `joiValidate` functions, HTTP verbs, and TypeDoc comments to generate a schema

[2020-02-27 10:49] AnandChowdhary opened #967 "Use a different rate/brute limiter"
`express-brute` has a moderate vulnerability, and we should use something else until v2 is out: https://github.com/AdamPflug/express-brute/issues/83

[2020-02-27 11:05] #967 closed

[2020-02-27 16:16] AnandChowdhary opened #971 "Use ObjectionJS + Knex.js for SQL"
Instead of querying, using entities and TypeORM

[2020-02-27 18:31] AnandChowdhary opened #989 "Add support for passwordless login"
Click on "Login" and enter your email -> A magic link goes to your email to log you in

[2020-02-28 08:59] AnandChowdhary opened #996 "Listen to Stripe webhook events"
Send emails to uses based on things like "card about to expire"

[2020-02-29 09:46] AnandChowdhary opened #1005 "Use queue for elasticsearch/webhooks"
Use the same Redis queue for storing logs in ElasticSearch and calling webhooks

[2020-02-29 09:49] AnandChowdhary opened #1006 "Try storing error records again, then log and discard"
In a Redis queue, if an email fails to send or an ElasticSearch record fails to be added, put it in an "error" queue and try again. If it still doesn't work, discard it and log the error

[2020-02-29 12:06] #963 closed

[2020-02-29 12:06] #1005 closed

[2020-02-29 12:06] #1006 closed

[2020-03-01 20:34] AnandChowdhary opened #1011 "Put setup scripts in separate package"
Make a `@staart/scripts` package that contains something like `react-scripts`, which has all the scripts about generating controllers, updates, etc.

[2020-03-01 22:07] #1011 closed

[2020-03-03 18:36] AnandChowdhary opened #1016 "Log outgoing emails in ElasticSearch"

[2020-03-03 20:11] AnandChowdhary opened #1017 "Add support for credits with Stripe coupon codes"

[2020-03-05 08:04] AnandChowdhary opened #1023 "Confirm password before performing security tasks"
When performing actions like deleting your account, deleting your team, canceling a subscription, etc., the popup should ask for the user's password, and the API should check for `password`.

A helper function can be built and used:`@Middleware(ConfirmPassword)`

[2020-03-06 01:40] simoami commented on #971
Hi @AnandChowdhary
Have you done any comparative research on this? Are you locked-in with TypeORM?

I worked with [ObjectionJS](https://vincit.github.io/objection.js/) / [Knex](http://knexjs.org/) in one of my projects and it's very flexible. Here's why I think it would be relevant to the project:
- Has good support for TS projects. Includes typings.
- Migration scripts are very easy compared to T

[2020-03-06 09:44] AnandChowdhary commented on #971
Thanks for your hard work, @simoami! You seems to know more than me and I'm convinced! Let's use Objection.js instead of TypeORM. All I care about is first-class TypeScript support:

[code]

Would love your help in the initial setup, and however much you'd be interested in taking up for the migration. :)

[2020-03-06 11:13] #1017 closed

[2020-03-09 15:16] mattp95 opened #1034 "Admin View"
There is some mention of a super user login, from what I can see this seems to allow this user to login and access all 'teams' is that correct?

Is there any plan to create a admin dashboard where members of the team can view summery data and make changes on behalf of users?

[2020-03-09 15:17] AnandChowdhary commented on #1034
Yes, currently the superadmin can see a dashboard where they can see all server logs, teams, and users, and make changes to them.

[2020-03-09 16:01] mattp95 commented on #1034
@AnandChowdhary Awesome, I assume this is done direct in the database as I am struggling to
 see a API endpoint, I will add a PR to add this to docs and close this.

[2020-03-09 16:02] AnandChowdhary commented on #1034
That's correct. If the account type is admin, it will automatically show the relevant Admin UI in the webapp. :)

[2020-03-10 12:55] AnandChowdhary commented on #1034
@all-contributors, please add @mattp95  for documentation

[2020-03-10 12:56] AnandChowdhary commented on #1034
Reference: staart/staart.js.org#30

@all-contributors add @mattp95 for docs

[2020-03-10 12:57] #1034 closed

[2020-03-13 16:44] simoami commented on #971
Thanks @AnandChowdhary. I'll start looking into it over the weekend!

[2020-03-16 17:53] simoami opened #1046 "CORS config parameter parsing"
Hi @AnandChowdhary
It took me a while to get the app set up locally after the recent updates. The issue was that all xhr requests were failing because CORS couldn't be enabled even with proper config.
[code]
didn't return the necessary headers to allow requests to be sent from the UI.

My `.env` config:
[code]

Upon close inspection, it looks like the value false was coming in as a string so it fa

[2020-03-16 18:05] AnandChowdhary commented on #1046
Hi @simoami, thanks for opening the issue! If this is the case, I should handle other boolean environment variables too, like `DISABLE_HELMET` below it (thought they work right now because !"true" is false, but !"false" is not true), I'll fix it to be more precise.

The TypeScript warning is not an error, so it should compile, but that's something already on my todo and I'm going to fix it ASAP.

[2020-03-16 18:07] AnandChowdhary commented on #1046
For now, if you remove the environment variable, it should work, because `!undefined` and `!""` are both `true`, so CORS will be injected. This can be a temporary fix until I deploy an update to `@staart/server`.

[2020-03-16 18:15] #1046 closed

[2020-03-16 18:15] AnandChowdhary commented on #1046
I've fixed this, but I'll also check the codebase for other environment variables booleans.

[2020-03-16 18:22] AnandChowdhary commented on #1046
I'll open another issue for the TypeScript warning so we can check on it

[2020-03-16 18:23] AnandChowdhary opened #1047 "Check TypeScript Babel compilation warning"
Currently, TypeScript with Babel throws this warning during compilation:

[code]

Originally reported in #1046 by @simoami

[2020-03-16 18:29] simoami commented on #1046
Thank you! I should point out that this was working before. Perhaps dotenv
isn't parsing properly?

On Mon, Mar 16, 2020, 2:15 PM Anand Chowdhary <notifications@github.com>
wrote:

[2020-03-16 18:32] AnandChowdhary commented on #1046
Maybe something to do with the fact that it was in @staart/api before, and is now in a separate @staart/server package and the `.env` was directly used with `process.env.VAR` instead of from the `config.ts` file which had smart fallbacks.

If anything similar doesn't work again, I'll reopen this issue, but we should be good to go for now.

[2020-03-17 01:23] simoami commented on #1046
Ah got it. That must be it then. Thanks for fixing

[2020-03-17 15:19] harrytran998 commented on #971
Thank you for your team's efforts, @AnandChowdhary . I and my friends will look for your project! Especially this!

[2020-03-17 21:01] simoami opened #1048 "API requests timing out (not returning JSON object)"
@AnandChowdhary
My requests are hanging.
[code]
Not sure if this is work in progress for the migration to Nest, but currently returning payload causes requests to time out. Using the latest in master.

Overnightjs expects this response:
[code]

but the current code returns the raw payload:
[code]

[2020-03-18 06:23] AnandChowdhary commented on #1048
Hi @simoami, this should not be the case, let me help you find what's not working here.

First, I'd like to make sure you're on the most recent version of Staart API. You can check that by making sure `"staart-version"` in your `package.json` is `"1.3.149"`. If this is not the case, you can update Staart API by entering `staart update api` in your console.

Then, make sure all dependencies are ins

[2020-03-18 17:01] simoami commented on #1048
Hi @AnandChowdhary
I pulled the latest update, wiped node_modules and reinstalled from scratch. It works with `yarn start`
However, I noticed my issue is with starting the server in debug mode in vs code. This config is what's causing the requests to stall:

launch.json
[code]

Update: After removing the `preLaunchTask` line, it works. So I'm assuming the tarn build has more to it  than  just tsc

[2020-03-18 17:04] AnandChowdhary commented on #1048
That's correct, @simoami, the `yarn build` script does (much) more than `tsc`. It compiles TypeScript, generates controllers, appends middleware, and so on.

The script you want to run is `staart build`.

[2020-03-18 17:04] #1048 closed

[2020-03-18 17:21] simoami commented on #1048
Thanks @AnandChowdhary
For anyone else looking to run in debug more, here's the vscode config that worked for me:

.vscode/launch.json
[code]
.vscode/tasks.json
[code]

[2020-03-21 17:36] smart-reports opened #1052 "Unable to email: XYZ email address"
Hi @AnandChowdhary

Is there way to debug why the frontend is not sending the signup emails?  We're sure we've got Production access setup in AWS and the email is verified and the keys are correct.

[2020-03-21 17:38] AnandChowdhary commented on #1052
Do you see the “send email” log in your console that’s running Staart API? We log “Email sent successfully” or the error. Also, we send a test email when launching, the log of which you should see as well.

[2020-03-21 17:48] smart-reports commented on #1052
Anand - thanks so much for replying....I asked a developer to set it up but looks like he's gone to bed now so he can't check.

I've passed this to him.

Does the site have an admin area to manage members?

[2020-03-21 18:53] AnandChowdhary commented on #1052
Here are some steps to debugging:

1. Update to the latest version of Staart API (`v1.3.153`)
2. You should see the message "Sent email staart@mailinator.com Test from Staart", meaning that emails are being delivered. If you don't see this, you'll see the email configuration error instead.

The logs should look like this, when you run `npm run start`:

![Screen Shot 2020-03-22 at 00 19 12](https:/

[2020-03-22 12:04] smart-reports commented on #1052
We got it to send emails now - turns out email hostname was wrong.

Now we're getting emails but the purple verify button has no link in it.....  just "verify your email" but no link inside the button to click on....

Do you know what could be wrong with that?

[2020-03-22 12:05] AnandChowdhary commented on #1052
Have you set up the environment variables for `FRONTEND_URL`? That's the URL on which your Staart UI app is hosted, e.g., `https://staart-demo.o15y.com`

https://github.com/staart/api/blob/master/.env.example#L8

[2020-03-22 16:00] smart-reports commented on #1052
Does the backend API need to be made available on a URL as well?  It can't be localhost:8080 with the frontend public facing with a secure URL?

[2020-03-22 16:04] smart-reports commented on #1052
Whats the difference betwen BASE_URL and FRONTEND_URL?  We set them both to the same value

[2020-03-23 07:17] AnandChowdhary commented on #1052
No, `BASE_URL` is the URL you're running the backend on (e.g., http://localhost:4000) and `FRONTEND_URL` is the URL for the frontend web app (e.g., https://staart-demo.o15y.com). The email URL should then become `${FRONTEND_URL}/path/to/validation`

[2020-03-23 11:08] smart-reports commented on #1052
Thanks Anand.  How do you get the system to ignore looking for AWS Elasticsearch credentials and use only the local DB?  After changing .env it seems the app still look for elasticsearch AWS by default.

Thanks

[2020-03-23 11:25] AnandChowdhary commented on #1052
Do you mean you want to use a custom ElasticSearch endpoint instead of AWS? If this is the case, this is removed (temporarily) because of a config variable mismatch: https://github.com/staart/packages/blob/master/packages/elasticsearch/index.ts#L13.

I'll add this back ASAP, because this was previously supported. For now, only AWS ElasticSearch works for storing logs.

[2020-03-23 11:28] smart-reports opened #1057 "Check for conflicting usernames in register"
Hi Anand, here is the behaviour we're seeing now

User registers and verifies email - works fine now
User tries to login - immediately presented with a "You dont have permission to perform this action"....
Press F5 to refresh and it looks like the user is logged in -
However, when I start to click on the user icon the top right and select team or user settings - it keeps presenting us with this "Y

[2020-03-23 11:29] smart-reports commented on #1052
I see - thats fine - its just we cant get AWS to work :(

What permissions do you need to add to the user for it to control ElasticSearch via the API access?

[2020-03-23 11:33] AnandChowdhary commented on #1052
To set up an AWS ElasticSearch user, go to your IAM Management Console → Users → add permission "AmazonESFullAccess" to the user.

[2020-03-23 12:29] AnandChowdhary commented on #1057
The really interesting part is that I can still log in and it works. It has something to do with creating new users. Perhaps they don't get the right permissions etc.

[2020-03-23 12:35] AnandChowdhary commented on #1057
I've added some logging for the authorization helper so I can see what's going wrong on my server: https://github.com/staart/api/commit/347ec517759109545f1e3d98091b3e7197bc45f5

[2020-03-23 12:40] AnandChowdhary commented on #1057
For my account (which was created a long time ago and works perfectly), the logs are :

[code]

For the broken account (ogremagi07@gmail.com), the logs are:

[code]

[2020-03-23 12:43] AnandChowdhary commented on #1057
So I see that there are two users with the username "gino", one with user ID 32 and another with 22. When you log in, we make a GET request to something like `/users/gino` instead of using your user ID, and that conflict means you're trying to request the information of another user, which you don't have the permission to.

The interesting part here is how you were able to make two accounts with t

[2020-03-23 12:48] AnandChowdhary commented on #1057
There are 4 `gino`s and 2 `testing`s and `stuart`s, which highlights that the logic for checking conflicting usernames is broken. I'll get a fix running ASAP, and for now I'm manually changing the usernames of the two conflicting users. This can also be fixed by marking `username` as a unique key in the database.

[2020-03-23 14:53] smart-reports commented on #1057
how do i set myself to an admin user?

[2020-03-23 14:53] smart-reports commented on #1057
thanks for your help Anand and resolving these issues today

[2020-03-23 16:55] AnandChowdhary commented on #1057
You'll have to change the user directly in the database. Change `role` to `3` (admin).

[2020-03-23 19:20] #1057 closed

[2020-03-23 19:21] AnandChowdhary commented on #1057
This is fixed in `v1.3.157`.  I feel so stupid! The mistake was missing `await` when checking availability, evaluating `Promise<pending>` == `{}` to be `true`.

[2020-04-01 22:23] simoami opened #1071 "geolite2-redist 1.0.5 and above requires node 12 which is misaligned with staart"
Here is the error during `yarn install` using Node 10:
[code]

[2020-04-01 22:27] AnandChowdhary commented on #1071
Thanks for opening this issue, @simoami!

You're right, it seems like Staart API's dependency `geolite2-redist` requires Node.js v12.x, whereas Staart API works with 10.x (except for this dependency).

I can update Staart API's minimum Node.js version to 12.x, though I don't see why `geolite2-redist` cannot work with Node.js 10.x, I don't think it has any 12.x-specific features. I'll open an issue

[2020-04-01 22:27] simoami commented on #1071
While this is easy to fix, I just wanted to give you a heads up so that users of staart continue to have a smooth experience.

Also, here's the commit where they bumped it:
https://github.com/GitSquared/node-geolite2-redist/commit/57af0bec54133e17325204c271ad5402d5b65f5d

Not sure what mandates an engine bump though  :)

[2020-04-03 09:40] #971 closed

[2020-04-06 23:24] AnandChowdhary commented on #1052
I've added support for non-AWS ElasticSearch

[2020-04-06 23:31] dnordberg opened #1081 "Update Staart API and UI demo sites"
I get the following error:

![image](https://user-images.githubusercontent.com/15315/78614663-d6e51480-7877-11ea-9ba8-c18e357da612.png)

[2020-04-07 15:15] #1052 closed

[2020-04-07 18:20] AnandChowdhary commented on #971
In v2, we're now using [Prisma](https://github.com/prisma/prisma).

[2020-04-07 19:17] simoami commented on #971
Awesome @AnandChowdhary! Glad you got to it! Prisma looks interesting.

[2020-04-14 15:01] AnandChowdhary opened #1092 "Add `cuid` for all tables"
Tables that have `username`, like organization and user, already have a human-readable key (apart from autoincrementing ID).

- All tables apart from those can have `cuid` as the column name and default value `cuid()`
- The default value for username can also be `cuid` unless a better one is available
- API keys can use `cuid` instead of JWT etc.

[2020-04-20 11:20] mattpi-NSL commented on #337
Taking another look, perhaps using casbin (https://github.com/casbin/node-casbin) preferably or https://github.com/onury/accesscontrol#guide as a framework for managing this RBAC is a more flexible  approach?

[2020-04-20 11:30] mattpi-NSL commented on #1023
Sounds like a great idea! :)

Out of interest how were you planning on 're authing' users who have logged in with Oauth to say Microsoft, new token grant?

Perhaps it would also be worth checking for TFA at this point if it is exists for that user or their org has enforced TFA (i.e to cover the 'enforced TFA since they logged in' case)?

[2020-04-20 11:54] AnandChowdhary commented on #337
@mattpi-NSL, using Casbin is a great idea! It's far superior to the current hard-coded authorization helper, and it's much more scalable and customizable. Let's put this on the project!

[2020-04-20 12:02] AnandChowdhary commented on #1023
That's definitely food for thought. Apps like Stripe ask you to re-enter your password, and we can only do that if the user has a password set. If they don't have a password set and only use an OAuth login, we'll have to think of a better solution.

There are other apps that ask for the 2FA token instead of the password to confirm such actions, but I've noticed that users may be confused by this,

[2020-04-20 12:05] AnandChowdhary commented on #1023
Even better, this can be a setting that the user can customize:

How do you want to confirm security tasks such as deleting your account?

1. Ask me for the password (selected by default)
2. Ask me for my 2FA code
3. Send me a magic link over email
4. Don't confirm (not recommended)

If they don't have a password or 2FA code, we can select option "3" by default, allowing users to set option "4" if

[2020-04-27 00:20] dnordberg opened #1110 "REFERRER_CHECK_FAIL error verifying JWT token"
Release: 1.0.130

I get an error REFERRER_CHECK_FAIL error when verifying the JWT Token.

Contents of `apiKeyToken.referrerRestrictions`:

0:"staart-demo.o15y.com"
1:"localhost"
2:"oswaldlabs.com"
3:"staart-ui.o15y.now.sh"

It tries to match 127.0.0.1 but fails.

What I don't understand is how and where these are set, since I can't find them searching the codebase.

[2020-04-27 09:30] AnandChowdhary commented on #1110
Thanks for opening this issue, @dnordberg! These are part of the API key you're using in the frontend. This will go away if you remove the Axios API key: https://staart.js.org/ui/getting-started (under "Frontend API key")

[2020-04-27 09:30] #1110 closed

[2020-04-27 15:58] MP70 opened #1114 "Leaking email to Gravatar."
I have noticed that this leaks email hashes to gravatar.  Given Gravatar is quite a old service, I wonder if it better to just allow users to upload thier own profile images (or not).

[2020-04-27 16:24] MP70 commented on #1114
Similar comment on the adorable avatars, for this project perhaps we could have a 'GDPR/privacy sensitive' branch that brings this all in house.

For example, in 'v0.1' of this branch, we could use https://github.com/thatisuday/npm-no-avatar instead of adorable and remove gravatar functionality (I can do a PR for that if you like).

Later we can build an endpoint that accepts user uploaded avatars

[2020-04-28 15:32] AnandChowdhary commented on #1114
Thanks for opening this issue, @MP70! I think this is something to think about, because I've always thought of Gravatar as the "go to" for email avatars, it's perhaps been the "de facto standard" to find the best image for an email. However, there are better options like [Unavatar](https://unavatar.now.sh), but those also require "leaking" the email. I do like the idea of fetching the avatar of th

[2020-04-29 17:24] MP70 commented on #1114
Thanks for your thoughts on this!

I agree that setting this as a config param is a good idea (better than a branch, I didn't want to remove/degrade the avatar functionality for those who do feel it is acceptable).

For maximum privacy (i.e leaking nothing > leaking initials) my personal view is 'do not call external APIs with any user data (PII or not)' is the safest. On that basis perhaps we cou

[2020-04-29 17:31] AnandChowdhary commented on #1114
I think this makes a lot of sense. The defaults should be "don't use any external APIs," and people who want to can configure it to use UI Avatars, Adorable, or anything else they want. If this is the case, Staart UI can use `vue-avatar` or similar to show. Once this is the standard, we can replicate this in other places we're using/will use third-party services. The default should always be not u

[2020-04-29 17:40] MP70 commented on #337
I have taken a look a bit further down this path. For now in my branch I am using Postgres for the database, I notice this master branch is now using Prisma. Casbin has adapters for Knex/Sequelize/TypeORM as SQL ORMs as well as for psql and mysql however it doesn't have one for prisma. I think this may mean that we need to write an adapter for Prisma or (re)use Redis for this.

[2020-04-30 16:21] WTM-Jarryd opened #1121 "AWS SES and ES config"
Hello team,

First off, thank you for the incredible project.

I am currently having an issue with the startup of a v1.0.0 api server.
It is currently running within my dev enviroment @ http://localhost:8080

The problem that I am having is that the server is not validating to the AWS SES and ES services.
I've followed the Getting Started doc to the letter.
My .env SES values are set correctly. Th

[2020-04-30 16:27] AnandChowdhary commented on #1121
Thanks for opening this issue, @WTM-Jarryd. I think the problem is that I've updated the ElasticSearch plugin for Staart to work with v2, and v1 uses different environment variables. I'll make sure I fix the docs, but here's what I think might work:

The environment variables should be:

- `AWS_ELASTIC_ACCESS_KEY`
- `AWS_ELASTIC_SECRET_KEY`
- `AWS_ELASTIC_HOST`

Can you confirm that this is the ca

[2020-04-30 16:42] WTM-Jarryd commented on #1121
Hi Anand,

Thanks for the swift response.

Below are my AWS config sections from my .env (ommitting the AWS credentials and ES endpoint)

ES:
## ES using AWS managed ES
AWS_ELASTIC_ACCESS_KEY = "############"
AWS_ELASTIC_SECRET_KEY = "################"
AWS_ELASTIC_HOST = "https://search-wt-webservices-es-########.eu-west-2.es.amazonaws.com"
AWS_ELASTIC_REGION = "eu-west-2"

SES:
# Sending emails v

[2020-04-30 16:54] WTM-Jarryd commented on #1121
Dependency versions for elasticsearch and mail are below:
`"@staart/elasticsearch": "^2.1.0",
"@staart/mail": "^2.0.2",`

Incase this helps.

[2020-05-01 10:19] WTM-Jarryd commented on #1121
Hi Anand,

I have resolved the issue.
It was an issue with the IAM account on AWS.
The account was initially created as an SMTP Credential account which was causing the issue.

Resolution:
Create a new user under **IAM**.
Make sure **Access Type** is set to **Programmatic Access**
Add **AmazonSESFullAccess/AmazonSESSendingAccess** and **AmazonESFullAccess** to the permission policies for SES and E

[2020-05-01 11:54] WTM-Jarryd opened #1126 "Default .env.example inline comments causing malformed links and values."
Hi Anand,

The inline comments within the **.env.example** file cause issues with the assigned values due to **dotenv** evaluating the comment as part of the value.
e.g. `FRONTEND_URL = "http://localhost:3000" # URL for Staart UI`
evaluates to
`FRONTEND_URL: "http://localhost:3000" # URL for Staart UI`

This causes issues later when emails containing links to **{{frontendUrl}}**, as they will all

[2020-05-12 07:51] AnandChowdhary commented on #1126
Thanks for opening this issue, @WTM-Jarryd! I didn't know dotenv required comments to start with a new line, I'll fix the example soon!

[2020-05-12 07:54] AnandChowdhary opened #1142 "Add features to admin dashboard about server info"
- [x] Show a list of all users and teams
- [x] Server logs from ElasticSearch
- [x] List and create coupon codes
- [ ] Clear Redis, either completely flush or `del` by key
- [ ] Show IP address, other server details
- [x] Payment logs from Stripe
- [ ] Show `htop`-style server status for resources?

[2020-05-12 10:30] waldenn opened #1143 "install docs: schema.sql"
Hi, I'm in the process to install / evaluate staart on my own server. Following the use-template-install-process I found these issues regarding the installing the DB schema:

* [This page](https://staart.js.org/api/getting-started.html) says: " Set up your database structure by running the contents of the schema.sql file in your SQL client and enter the database credentials in your .env file."
* A

[2020-05-12 10:34] AnandChowdhary commented on #1143
Thanks for opening this issue! The docs are super incomplete and I'll make sure I update the getting starting guide soon. For now, this is what you should do:

1. Create the `.env` with required environment variables
2. In the `./prisma/` folder, create another `.env` file with only the `DATABASE_URL`: https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/prisma-schema-file#defin

[2020-05-12 10:54] waldenn commented on #1143
Ok, thanks for the quick response.

I created a .env file:

datasource mysql {
  provider = "mysql"
  url      = "mysql://root:mypass@localhost:3306/staart"
}

With permissions:

$ ls -l prisma/.env
-rw-rw-rw- 1 jama jama 100 May 12 12:38 prisma/.env

Then proceeded to the build (I assumed I don't need to run any prisma CLI tool beforehand):

[code]

So the build fails.

Running the server then al

[2020-05-14 08:38] WTM-Jarryd commented on #1126
dotenv doesn't handle comments at all actually.
This is something they should maybe look into, but it doesn't cause compilation or runtime errors.
Doing a `require('dotenv').config({ debug: true });` will just alert with a warning on the comment lines.

[2020-07-03 08:41] hsluoyz commented on #337
Hi @AnandChowdhary @MP70 I'm from Casbin team. We have made a Prisma adapter these days: https://github.com/node-casbin/prisma-adapter . Can you try it?

[2020-07-03 09:00] MP70 commented on #337
Wow! Thank you so much, this is incredible! My fork has diverged quite a lot from this and I am using different set of technologies, so I will leave this to @AnandChowdhary for now, but if he doesn't get to it first as soon as I have some free time I will definitely take a look at this!

[2020-07-03 09:02] AnandChowdhary commented on #337
This looks great, thanks for all your hard work, @hsluoyz! I'll definitely have a look at this, because now it fits right into our Prisma-led database framework and would be much easier to adopt.

[2020-08-13 20:47] werkamsus opened #1319 "Typescript Compilation Errors"
# Hi @AnandChowdhary !

Thanks for all of the amazing work you have done. I am astounded by much functionality this project has!
The UI Repo works great as far as I could experiment without the api, however the api causes some trouble while setting up.

## 🚨 Two Things
* Your web demo API seems to be broken (no signup / signin possible, req. times out)
* The setup is rather hard to grasp correctly

[2020-08-29 09:18] AnandChowdhary opened #1350 "Add account deactivate feature"
When users choose to delete their accounts, deactivate it first and delete it after 30 days.

[2020-09-01 14:36] PrometheusGlobal opened #1352 "Typescript will not compile"
Keep getting
error TS6053: File '.staart/**/*.ts' not found.
on build
with version 1.0.0

After looking at .staart/src/app.ts further the build script is creating the links to the controllers like:

import { AdminController as Controller0 } from "./controllers\admin\index";
import { AuthController as Controller1 } from "./controllers\auth\index";
import { UserController as Controller2 } from "./co

[2020-09-02 16:23] #337 closed

[2020-09-02 16:25] AnandChowdhary commented on #337
Good news! After many months, this is now shipped in `master`! 😄

Default policy model: https://github.com/staart/api/blob/master/casbin-model.conf
Updated authorization helper, built with Casbin: https://github.com/staart/api/blob/master/src/_staart/helpers/authorization.ts

[2020-09-03 01:52] hsluoyz commented on #337
Thanks! It's great work!

[2020-09-03 07:52] AnandChowdhary commented on #1352
Are you using Windows?

[2020-09-03 13:13] PrometheusGlobal commented on #1352
I was but started a fresh ubuntu server ran install as normal, tried to run build came up with an @types/regenerator-runtime module error, installed it via npmjs, ran build again build looked like it ran fine. Upon running start getting warning on Database unable to run query 'SHOW tables' running mysql 8 and warning on Elastic Search saying missing AWS credentials even after i set them up in the

[2020-09-08 10:36] PrometheusGlobal opened #1380 "For anyone having issues with Prisma"
NOTE THIS HAS ONLY BEEN TESTED ON 2.18 AND ONLY DOWN TO WHEN PRISMA WAS INTRODUCED!!

once you install the API package here are a few things to do to make your life a little easier.

go under your prisma directory and create a .env file with a connection string that looks like this.
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE

then run:  npx prisma migrate up --experimental

once you hav

[2020-09-09 01:03] johnnynanjiang opened #1382 "Please update and correct the documenation"
It looks like the doc is not update-to-date with the codebase.

1. There is `node dist/src/index.js` in the documentation https://staart.js.org/api/getting-started.html, but the file index.js is missing in `dist/src` folder.

2. The sample API code is outdated at https://staart.js.org/api/creating-a-controller.html, probably a sample endpoint could be included in the codebase so it will always upd

[2020-09-09 05:53] AnandChowdhary commented on #1382
Thanks for opening this issue, @johnnynanjiang! You're absolutely right. I'm currently working on `master`, adding an easier way for people to get started (better configuration management), and my goal is to re-write the entire docs site with comprehensive examples. I'm keeping this issue open to update you.

[2020-09-09 05:54] AnandChowdhary commented on #1380
I'll make sure Prisma is handled properly in the docs! You're right, the `.env` file needs to be in `prisma`, but I'll also set up this in the build process. I'll keep this issue open until we're there!

[2020-09-09 06:40] johnnynanjiang commented on #1382
Hi Anand, thanks for doing that, I believe good documents would save developers a lot of time.

For example, we just found out that we need to add `v1` in URI to access endpoints like `http://localhost/v1/...`, things like this wasted us a lot of time, and is missing from the documentation.

I think code is the best documentation, including a working sample endpoint in the codebase would solve the

[2020-09-21 07:09] johnnynanjiang opened #1406 "App crashes if Redis is not available"
We had a nodejs service based on Staart, and it kept crash down on AWS for a week. It turned out to be Redis is missing. It still could go up and running without Redis, but just crashed from time to time.

[2020-09-21 09:02] AnandChowdhary commented on #1406
Redis is an important component because it helps not only with caching, but also with token invalidation (very important for authentication). You can either use AWS-manages Redis (https://aws.amazon.com/elasticache/) or just run your own `redis-server` before starting the app. 😄

[2020-09-21 09:03] AnandChowdhary commented on #1382
I've started working on this! Hopefully this will turn into comprehensive docs for everyone: https://github.com/staart/api/tree/master/docs.

[2020-10-07 10:43] imshashank opened #1424 "The "key" argument must be of type string or an instance of Buffer, TypedArray, DataView, or KeyObject. Received undefined"
Issues with a fresh install

[code]

I think the problem is with not being able to find "config("twtSecret")"

Not sure what this means.

I just installed the API & UI. Used the Ui to try to create a user and then this was the error returned each time.

[2020-10-07 10:46] AnandChowdhary commented on #1424
Thanks for opening this issue, @imshashank!

Can you please try setting the environment variable `TWT_SECRET = "secret"`?

[2020-10-08 21:47] WaysonWei opened #1428 "Can not add payment method from ui"
Firstly, thank you for open sourcing this amazing  saas start kit. We still not able to run latest API & UI ( V2 ? )together at this point, but would be able to run them together with API v1.0.0 & Ui v1.0.0.

Now facing this issue. Not able to add payment method via UI showed as screenshot. Look like it is something to do with API regarding organization endpoint?

![Screen Shot 2020-10-09 at 10 41

[2020-10-09 08:38] WaysonWei commented on #1428
I had it sorted... The API backend sending the credit card number directly to Stripe API, that's why showing 500 error. We need to use the token instead of the card number.

[2020-10-09 08:38] #1428 closed

[2020-10-09 08:57] AnandChowdhary commented on #1428
Thanks! If this is a bug not related to your use case but to Staart API, would you like to make a PR?

[2020-10-10 21:44] WaysonWei commented on #1428
This issue is not relate to the bug of Staart API. In this case, Stripe recommended to wrap the customer payment details with Stripe Element and the new API rather than sending the raw credit card number directly to Stripe's API.  We will be working on the payment code to make it working smoothly, will submit a PR if we come across any. Thanks again for this amazing project.

[2020-11-08 18:59] #950 closed

[2020-11-09 00:10] FindingAnand commented on #1380
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1352
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1350
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1319
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1143
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1142
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1126
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1121
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:10] FindingAnand commented on #1114
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1092
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1081
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1071
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1047
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1023
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #1016
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #996
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #989
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #966
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #964
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #332
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #331
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #277
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 00:11] FindingAnand commented on #16
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2020-11-09 05:33] AnandChowdhary commented on #1424
This is now fixed in v3. If you didn't set up an environment variable for TWT secret, it defaults to an empty string.

[2020-11-09 05:33] #1424 closed

[2020-11-09 05:34] AnandChowdhary commented on #1406
This is now fixed in v3. You don't need Redis anymore, as we don't invalidate JWTs (refresh tokens are UUIDs and require a database request, rather than being JWTs that need to be invalidated).

[2020-11-09 05:34] #1406 closed

[2020-11-09 05:35] AnandChowdhary commented on #1380
This has now been updated in a new release of Prisma and fixed in v3. You can set your database configuration in the root `.env`.

[2020-11-09 05:35] #1380 closed

[2020-11-09 05:35] AnandChowdhary commented on #1352
This is now fixed in v3.

[2020-11-09 05:35] #1352 closed

[2020-11-09 05:36] #1121 closed

[2020-11-09 05:37] AnandChowdhary commented on #1121
This is now fixed in v3. We don't require ElasticSearch credentials anymore and have introduced a new audit log using your database connection.

[2020-11-09 05:37] AnandChowdhary commented on #16
This is now fixed in v3.

[2020-11-09 05:37] #16 closed

[2020-11-09 05:38] #277 closed

[2020-11-09 05:39] AnandChowdhary commented on #964
This is now fixed in v3. We use `quick-lru` and `mem`.

[2020-11-09 05:39] #964 closed

[2020-11-09 05:40] AnandChowdhary commented on #966
This is added in v3.

[2020-11-09 05:40] #966 closed

[2020-11-09 05:40] AnandChowdhary commented on #989
This is added in v3.

[2020-11-09 05:40] #989 closed

[2020-11-09 05:41] AnandChowdhary commented on #1016
This seems... unnecessary. I'm happy to reopen this if someone requires this feature, but I think most email services (SMTP or transactional, like Mailchimp) log outgoing emails themselves, so we don't need to implement that.

[2020-11-09 05:41] #1016 closed

[2020-11-09 05:41] AnandChowdhary commented on #1047
This is fixed in v3.

[2020-11-09 05:41] #1047 closed

[2020-11-09 05:41] AnandChowdhary commented on #1071
This is fixed in v3.

[2020-11-09 05:41] #1071 closed

[2020-11-09 05:42] AnandChowdhary commented on #1092
This needs to be rethought. The default autoincremented ID should be more than enough, but we need a better way when expoing them to users (which is not a string CUID for sure).

[2020-11-09 05:42] #1092 closed

[2020-11-09 05:43] AnandChowdhary commented on #1143
This is fixed in v3. We now use Prisma and therefore support all `prisma migrate` and `prisma db` commands for installation and migration.

[2020-11-09 05:43] #1143 closed

[2020-11-09 06:15] #1350 closed

[2020-11-09 06:15] AnandChowdhary commented on #1319
This is fixed in v3.

[2020-11-09 06:15] #1319 closed

[2020-11-09 06:16] AnandChowdhary commented on #1126
This is fixed in v3.

[2020-11-09 06:16] #1126 closed

[2020-11-09 06:19] FindingAnand commented on #1350
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [GitHub release](https://github.com/staart/api/releases/tag/v3.1.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@staart/api/v/3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-09 11:02] FELS-Zak opened #1477 "2 Questions ::"
Hi -
Just 2 quick questions please
1 - Is this totally free and access to full source code
2 - Where is the demo site?

[2020-11-09 11:22] FELS-Zak commented on #1477
👍

[2020-11-09 11:36] gurisko commented on #1477
1. License can be found [here](https://github.com/staart/api/blob/master/LICENSE)
2. You can find your answer in the [README](https://github.com/staart/api#-docs). However the API seems to be offline at the moment. You can also have a look at section "Built with Staart"

[2020-11-09 11:46] FELS-Zak commented on #1477
Thank you-
What have you built with this so far?

[2020-11-09 13:26] AnandChowdhary commented on #1477
Thanks for answering, @gurisko! Yes, the demo API is down, I'll make sure I put it back up soon! You're right, it's licensed under the permissive MIT, meaning you can do whatever you want with Staart API. I personally have built several Staart API-based systems for my friends at accessibility technology company [Oswald Labs](https://github.com/OswaldLabsOpenSource/platform-v3], interior design sub

[2020-11-09 13:27] AnandChowdhary commented on #1477
I'll keep #1081 open to make sure I remember to bring the demo API back online!

[2020-11-09 13:27] #1477 closed

[2020-11-09 15:00] FELS-Zak commented on #1477
Thank you

[2020-11-14 19:10] WaysonWei opened #1486 "what version of UI will work with api v3?"
Hi, Anand. Just wondering which version of Staart UI will work with the latest version of API v3? We can't wait to try this out.Thanks.

[2020-11-15 13:37] AnandChowdhary commented on #1486
Glad to hear that you're exciting about trying v3 out! You can already start using API v3, and it'll work perfectly with the v3 branch of staart/ui: https://github.com/staart/ui/tree/v3 (this time written in Svelte rather than Vue.js, using Sapper rather than Nuxt.js). This is also expected to be merged shortly. 😄

[2020-11-15 13:37] #1486 closed

[2020-11-17 22:57] WaysonWei opened #1498 "Stripe payment module finished?"
Hi, Anand, does the stripe module still under development?

Any timeframe for the finish point where we can checkout this function yet?

Thanks a lot.

[2020-11-18 06:26] AdityaAnand1 opened #1504 "API demo is down"
http://staart.prod.oswaldlabs.com/

Would love to see how it works :)

[2020-11-18 06:27] AnandChowdhary commented on #1081
I'm keeping this issue open until I deploy the new Staart API and UI demos.

[2020-11-18 06:27] AnandChowdhary commented on #1504
Closing as a duplicate of #1081. It's already on my plate and I'll keep you posted as soon as I've deployed it! 😄

[2020-11-18 06:27] #1504 closed

[2020-11-23 13:53] AchoArnold opened #1523 "How do we add scopes/roles to a user or is it done automatically?"
Say, for instance, I create a new admin user and I want it to have the scope `user-*` how do I grant that role to the user?

[2020-12-14 01:46] akatcha opened #1575 "Version 1.0.0 has errors upon running `npm run build` out of the box"
Hey Team,
This looks like a promising repo and I'm excited to try and to start using it.  When trying to run a stable version (1.0.0) it becomes difficult to get up and running correctly.
Upon following the 1.0.0 docs, I ran `npm install` `npm run build` and this is the output I received.  Are there things that I'm missing?   Thank you.

[code]

[2020-12-14 07:13] AnandChowdhary commented on #1575
`Cannot find module '@prisma/client'` looks like Prisma is not generated. Did you try running `npx prisma generate` first?

[2020-12-19 05:54] aubeena007 opened #1593 "how to setup v3"
thanks for the framework . so exited to test it out. but i cannot found docs for v3 default readme is for v2 i think.
any quick guild to get setup in local

[2021-01-05 02:22] rjain15 commented on #1593
What is changing in v3, and can I get started using the v2 doc?

[2021-01-07 01:13] deephut opened #1619 "Docker does not expose ports needed for frontend to connect with backend"
Seems maybe it's outdated or I'm doing something wrong?
I builded the dockerfile with
`docker build -t api`
and then proceeded with` docker run api`
Which doesn't load the API  page, at all.
As seeing on frontend, the backend port should be 7007 - so I also tried to expose the ports in docker, like so:
`docker run -d api -p 7007:7007`
this kind of loads the api page, but the response is empty, any

[2021-01-08 00:24] FindingAnand commented on #1023
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-08 00:24] FindingAnand commented on #996
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-08 00:24] FindingAnand commented on #331
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-08 10:27] deephut commented on #1593
Definitely seems like it needs some updating, for example if you set up the ui repository and api, register an user where it displays the onboarding info, it tries to PUT/POST to a route that doesn't exist.

[2021-01-08 10:37] kuttim opened #1626 "Outdated endpoints?"
I'm getting alot of unauthorized/not found errors with requests to backend from my frontend, is this something already addressed or is the issue on my side only?
![Image of error](https://i.ibb.co/Qbh6wrq/errors.png)

[2021-01-09 00:24] FindingAnand commented on #1142
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-09 00:24] FindingAnand commented on #1114
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-09 00:24] FindingAnand commented on #332
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-01-09 13:47] AnandChowdhary commented on #1619
This is now fixed in the Dockerfile. On production, you'll be running on port `80` so that's exposed. The `7007` is just an arbitrary port for development, so we can ignore that. 😄

[2021-01-09 13:47] #1619 closed

[2021-01-09 13:48] #1575 closed

[2021-01-09 13:48] AnandChowdhary commented on #1498
This is now published. I'll add some docs soon!

[2021-01-09 13:48] #1498 closed

[2021-01-09 13:48] AnandChowdhary commented on #1142
We now have the Metrics module.

[2021-01-09 13:48] #1142 closed

[2021-01-09 13:51] #1114 closed

[2021-01-09 13:57] FindingAnand commented on #1114
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/staart/api/releases/tag/v4.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@staart/api/v/4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-10 10:56] deephut opened #1629 "Verification email returns error 404"
Not able to log in using master branches for both frontend and backend, the verification email link which consists token will always return error 404 meaning I can't verify my account.

[2021-01-10 12:22] AnandChowdhary commented on #1629
The `master` of staart/ui is, somewhat confusingly, not for the `master` of staart/api. I'll update the UI repository in the next few days with the new version of staart/ui that will work perfectly with the latest @staart API.

[2021-01-10 18:05] #1629 closed

[2021-01-17 15:32] blondie63 opened #1648 "demo ?"
Without any controversy, but having both demos not working is not a great business card ..

[2021-01-18 06:23] AnandChowdhary commented on #1648
Haha for sure, I totally understand! I've been working on the new versions of both, so the UI is not live. But about the API: I always get a server but then end up not renewing it, since Node.js apps cannot run on traditional shared hosting accounts, so...

Please feel free to sponsor a $5/m DigitalOcean droplet for the API demo! 😉

[2021-01-19 10:02] L-U-C-K-Y opened #1658 "Authorization Model: Where did Casbin go?"
Hi all

Found this project and was reading through the readme and repo.

I noticed that the readme says that Casbin is used for authorization, but I cannot find any reference in the code.
Has it been removed again?

If yes, could I ask for the reasoning behind it, have you found a more suitable option?

Thanks!

[2021-01-19 12:27] hsluoyz commented on #1658
@L-U-C-K-Y I think it has gone after this V3 PR: https://github.com/staart/api/pull/1475

[2021-01-21 05:38] AnandChowdhary commented on #1658
Thanks for opening this issue, @L-U-C-K-Y! Yes, until v3, we were using Casbin to manage permission, but now we're doing everything using scopes in v4. I find this much simpler because scope can have wildcards and you can have as many or as little associated with a user or API key.

For example, if a user (with user ID 10, for example) has the scope `user-10:delete`, this user can delete itself. I

[2021-01-21 08:07] L-U-C-K-Y commented on #1658
Thanks @AnandChowdhary for elaborating!

[2021-01-21 08:07] #1658 closed

[2021-01-21 15:35] hsluoyz commented on #1658
Hi @AnandChowdhary

I think the wildcards can also be supported by Casbin via the `keyMatch()` and `regexMatch()` functions: https://casbin.org/docs/en/function#functions-in-matchers

[2021-02-04 11:33] kaivanmehta14 commented on #1626
It seems like you are accessing users controller without any login/register, all other controllers are protected so you cannot access them directly without login. also put request in groups controller expects some group id. hope it helps

[2021-02-14 01:08] zaratt opened #1734 "Error - geolocation.service.spec.ts"
Hello
First, congratulations on the template, very good.
I have an error when I run **npm run test: unit**
It shows an error as shown in the figure below.
The stranger who was ok, but just started giving this error.
P.S .: Do you have any contact e-mail?

Thanks
![Captura de Tela 2021-02-13 às 21 55 00](https://user-images.githubusercontent.com/22323892/107865696-083f5100-6e48-11eb-85ff-f1a6ca8a7

[2021-03-11 00:08] FindingAnand commented on #1593
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #1523
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #1081
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #1023
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #996
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #332
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-11 00:08] FindingAnand commented on #331
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-14 17:25] DillonStreator opened #1775 "docker-compose example"
Could we add a basic docker-compose example that contains database, frontend, and api?

[2021-03-18 00:08] #1593 closed

[2021-03-18 00:08] #1382 closed

[2021-03-18 00:08] #1523 closed

[2021-03-18 00:08] #1081 closed

[2021-03-18 00:08] #996 closed

[2021-03-18 00:08] #1023 closed

[2021-03-18 00:08] #332 closed

[2021-03-18 00:08] #331 closed

[2021-03-20 00:08] FindingAnand commented on #1648
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-03-28 00:03] #1648 closed

[2021-04-06 00:04] FindingAnand commented on #1626
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-04-13 00:04] #1626 closed

[2021-04-16 00:03] FindingAnand commented on #1734
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-04-16 05:42] AnandChowdhary commented on #1734
Looks like the GeoIP2 database was not downloaded, which is typically in the `postinstall` script of the `geoip2-redist` package. You can do that manually as well: https://github.com/GitSquared/node-geolite2-redist/blob/v1.0.7/scripts/postinstall.js

[2021-05-03 03:43] zzmao opened #1790 "Is V4 stable?"
Hello,

I see a warning from readme:

```v3 BETA WARNING: The master branch and all 3.x releases are currently in beta. For production, use v1.x instead.```

but looks like the project has upgraded to v4.

Just want to double check if the warning still valid? and is V4 stable?

Thanks,
Z

[2021-05-06 01:04] shadowmodder opened #1791 "Swagger - Add bearer token to make it usable"
<deleted>

[2021-05-06 01:06] shadowmodder commented on #1791
if you could add bearer token or apikey to the swagger document builder it would be helpful:

    .addBearerAuth(
      { type: 'http', scheme: 'bearer', bearerFormat: 'JWT' },'access-token',
    )

Please let me know if I can open a branch and push these or any new proposed changes, I would love to help.

[2021-05-06 02:34] shadowmodder opened #1792 "Fix swagger /v bug in curl posts"
Fix swagger /v bug in curl posts

    currently, all curl requests from swagger are missing /v1 in the URL
    this fix will ensure swagger knows about the app context to V1

    moving the swagger below app.setGlobalPrefix('v1') will provide the /v1
    context into swagger CURL requests

[2021-05-06 09:06] AnandChowdhary commented on #1791
Absolutely, happy to accept a PR!

[2021-05-06 09:06] AnandChowdhary commented on #1792
Let's do it, happy to accept a PR!

[2021-05-14 00:26] FindingAnand commented on #1775
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-05-14 20:30] cloudcompute opened #1801 "Production ready?"
hi Anand

Can we use this API now? Is it stable and battle tested?

Thanks
Raman

[2021-05-20 15:11] dnrun opened #1805 "Outdated documentation"
Was really looking forward to checking this out but unfortunately the "config.ts" doesn't exist. When I build the docker container it errors out

[code]

Can someone please update the documentation please?

[2021-05-22 00:22] #1775 closed

[2021-06-16 00:17] FindingAnand commented on #1734
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-06-23 00:17] #1734 closed

[2021-07-03 00:16] FindingAnand commented on #1790
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-07-06 00:17] FindingAnand commented on #1792
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-07-06 00:17] FindingAnand commented on #1791
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-07-10 00:17] #1790 closed, assigned to nobody

[2021-07-14 00:16] FindingAnand commented on #1801
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-07-14 00:16] #1792 closed, assigned to nobody

[2021-07-14 00:16] #1791 closed, assigned to nobody

[2021-07-20 00:16] FindingAnand commented on #1805
⚠️ This issue has not seen any activity in the past 2 months so I'm marking it as stale. I'll close it if it doesn't see any activity in the coming week.

[2021-07-21 00:17] #1801 closed, assigned to nobody

[2021-07-27 00:16] #1805 closed, assigned to nobody

[2022-10-31 10:25] jordanparker6 opened #2004 "OAuth Feature"
Does this boilerplate provide means of authenticating via OAuth (e.g. Google / Github)?

[2022-11-01 10:00] AnandChowdhary commented on #2004
Unfortunately not, but it's definitely something I want to work on :)

[2022-11-01 11:39] jordanparker6 commented on #2004
@AnandChowdhary awesome! I plan using this repo but removing basic and totp auth and replacing it with OAuth2 / OpenID with passport.js. I am don't plan on managing passwords. I will leave that to the identity providers. Happy to share code back for you to figure out how you would like to integrate it into the existing repo.

I can also share back some unit tests where the original code hasn't sub

[2022-11-01 11:41] AnandChowdhary commented on #2004
Sounds amazing, thanks a ton!